body {
    font-family: 'Figtree', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}

article {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
    border-radius: 1rem;
    margin: 10rem;
    border: solid, 0.15rem;
    border-color: black;
    /* box-shadow: 10px 10px black; */
    box-shadow: 0.35rem 0.35rem black;

}

article > img {
    /* margin: 1rem; */
    padding: 1rem;
    width: 17.5rem;
    border-radius: 1.5rem;
}

.tag {
    background-color: hsl(47, 88%, 63%);
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: .5rem 1em;
    width: fit-content;
    border-radius: 0.25rem;
    font-weight: bold;
}

.date {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 0.75rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0.5rem;
    margin-left: 1rem;
}

.description {
    margin-left: 1rem;
    color: hsl(0, 0%, 42%);
}

.profilePic {
    display: inline-block;
}

.author {
    display: flex;
    align-items: center;
}

.author > img {
    /* width smaller 
    add margin*/
    width: 2.25rem;
    margin: 1rem;
}

.author > p {
    /* need to increase weight */
    font-size: 1.1rem;
    font-weight: 900;
}